    <tr>
        <td>{{ departure.DepartTime["@time"] }}</td>
        <td>{{ departure.Destination1["@name"] }}</td>
        <td>{{ departure.ExpectedDepartTime["@time"] }}</td>
        <td>{{ departure.Delay["@Minutes"] }} mins</td>
    </tr>
    <tr>
        <td class="padding"></td>
        <td>
            {% set uid = departure["@Uid"] %}
            {% set buttonuid = uid ~ "button" %}
            Calling at: <input type="button" id={{ buttonuid }} class="button" onclick='hideElement("{{ uid }}");showHideValue("{{ buttonuid }}")' value="Show"></input>
            <div id={{ uid }} style="display: none;">
                <table>
                    <thead>
                        <th>Station</th>
                        <th>Time</th>
                    </thead>
                    {% if departure.Dest1CallingPoints["@NumCallingPoints"] != "1" %}
                        {% for call_point in departure.Dest1CallingPoints.CallingPoint %}
                        <tr>
                            <td>{{ call_point["@Name"] }}</td>
                            <td>{{ call_point["@ttarr"] }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{ departure.Destination1["@name"] }}</td>
                        <td>{{ departure.Destination1["@ttarr"] }}</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
