{% extends "layout.html" %}
{% block title %}
Departures - {{ station }}
{% endblock %}
{% block content %}
{% include "_station_select.html" %}
<span class="station">{{ station }}</span>
{% if "@Uid" in stationdata.services %}
    {# 
        Got to account for Translink data stupidity, so if there's only one service...do this 
    #}
    {% set departure = stationdata.services %}
        {% if departure.ServiceType["@Type"] != "Terminating" %}
            {% include "_departures_table.html" %}
            {% set uid = departure["@Uid"] %}
            {% set buttonuid = uid ~ "button" %}
            Calling at: <input type="button" id={{ buttonuid }} class="button" onclick='hideElement("{{ uid }}");showHideValue("{{ buttonuid }}")' value="Show"></input>
            <div id={{ uid }} style="display: none;">
                {% include "_calling_stations.html" %}
            </div>
        {% endif %}
{% else %}
    {# 
        As above - if there are multiple services (more likely) do this 
    #}
    {% for departure in stationdata.services %}
        {% if departure.ServiceType %}
            {% if departure.ServiceType["@Type"] != "Terminating" %}
                {% include "_departures_table.html" %}
                {% set uid = departure["@Uid"] %}
                {% set buttonuid = uid ~ "button" %}
                Calling at: <input type="button" id={{ buttonuid }} class="button" onclick='hideElement("{{ uid }}");showHideValue("{{ buttonuid }}")' value="Show"></input>
                <div id={{ uid }} style="display: none;">
                    {% include "_calling_stations.html" %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}


<script>
    function hideElement(element) {
        var x = document.getElementById(element);
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

    function showHideValue(element) {
        var x = document.getElementById(element)
        if (x.value=="Show") x.value = "Hide";
        else x.value = "Show";
    }
</script>

{% endblock %}