{% extends "layout.html" %}
{% block title %}
Departures - {{ station }}
{% endblock %}
{% block content %}
{% include "_station_select.html" %}
<span class="station">Departures from {{ station }}</span>
{% if stationdata.services == None %}
        <p>No trains are scheduled to depart from {{ station }} in the next 90 minutes.</p>
{% else %}
    {% include "_departures_table_head.html" %}
    {% if "@Uid" in stationdata.services %}
    {# 
        Got to account for Translink data stupidity, so if there's only one service...do this 
    #}
    {% set departure = stationdata.services %}
        {% if departure.ServiceType["@Type"] != "Terminating" %}
            {% include "_departures_table_body.html" %}
        {% endif %}
    {% else %}
    {# 
        As above - if there are multiple services (more likely) do this 
    #}
    {% for departure in stationdata.services %}
        {% if departure.ServiceType %}
            {% if departure.ServiceType["@Type"] != "Terminating" %}
                {% include "_departures_table_body.html" %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    {% include "_departures_table_foot.html" %}
{% endif %}


<script>
    function hideElement(element) {
        var x = document.getElementById(element);
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

    function showHideValue(element) {
        var x = document.getElementById(element)
        if (x.value=="Show") x.value = "Hide";
        else x.value = "Show";
    }
</script>

{% endblock %}